body {
    margin: 0;
}

nav {
    background-color: #3f3f3f;
    padding: 10px;
    padding-left: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
    gap: 50px;
}

nav img {
    width: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#container {
    box-sizing: border-box;
    padding: 30px;
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    width: 100%;
}


#social_media img {
    width: 100px;
}