body {
    margin: 0px;
}

.navbar {
    background-color: bisque;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px 0px 24px;
}

.logo {
    margin-right: 30px;
}

.list-item {
    display: flex;
}

.navbar-item {
    margin-right: 16px;
}

.web_carousel {
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}

.web_carousel .slide-container {
    position: relative;
}

.web_carousel .slide-content {
    position: relative;
    width: 700px;
    height: 300px;
}

.web_carousel .slide {
    position: absolute;
    z-index: -1;
}

.web_carousel .slide-detail,
.web_carousel .slide-title {
    color: white;
    background: black;
    padding: 5px;
}

.web_carousel .slide-content-text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.web_carousel .web_carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);

    font-size: 40px;
    color: white;
    z-index: 2;
}

.tickets_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tickets_content form {
    line-height: 50px;
    width: 600px;
    padding: 10px;

    border: solid 2px black;

    position: relative;
}

.tickets_content form label {
    font-size: 25px;
}

.tickets_content form input {
    position: absolute;
    right: 10px;

    width: 300px;
    height: 40px;
}

.discover-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover-content {
    width: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-container {
    display: grid;
    justify-content: center
}

.news-container td {
    min-width: 500px;
    position: relative;
}

.news-container .list {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-container .map-text {
    position: absolute;
    user-select: none;
}

.infomation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_media img {
    width: 300px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}