body {
    margin: 0;
}

nav {
    background-color: #3f3f3f;
    padding: 10px;
    padding-left: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

nav img {
    width: 100px;
}

nav h1 {
    color: white;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logos img {
    width: 300px;
}

p {
    font-size: 48px;
}

footer {
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    width: 100%;
}