h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: gray;
}

p {
    font-size: 35px;
}

button {
    width: 200px;
    font-size: 35px;
}

#infomation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
}

#infomation img {
    width: 800px;
}

#description {
    border: 3px solid black;
    padding: 10px;
    
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description img {
    width: 800px;
}

.readmore-content:not(.visiable) {
    display: none;
}