form {
    border: 3px solid black;
    padding: 10px;
    position: relative;
    width: 500px;
    line-height: 50px;
}

label {
    font-size: 35px;
}

input {
    height: 50px;
    position: absolute;
    right: 10px;
}